.slick-arrow .slick-next {
  display: none !important;
}
.slick-next {
  display: none;
}

body {
    --sb-track-color: #000000;
    --sb-thumb-color: #245af9;
    --sb-size: 5px;
    
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }