/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(225, 95%, 56%);
  --black-color: hsl(225, 12%, 12%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(225, 8%, 65%);
  --body-color: hsl(225, 100%, 99%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2.5rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/* Remove the property of 100vh, when inserting its content */
.section {
  height: 100vh;
  padding-block: 2.5rem;
}

.section h1 {
  font-size: var(--biggest-font-size);
  color: var(--black-color);
  text-align: center;
}

/*=============== NAVBAR ===============*/
.nav {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  width: 88%;
  margin-inline: auto;
  box-shadow: 0 2px 16px hsla(228, 95%, 4%, 0.1);
  padding: 1rem 1.75rem;
  border-radius: 4rem;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.5rem;
  /* transition: color 0.4s; */
}

/*=============== EXPAND LIST ===============*/
.nav__expand {
  background-color: white;
  color: var(--first-color);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 450px) {
  .nav {
    width: 350px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

/* Add styles for the navbar center icon */
.nav__center-icon {
  position: absolute;
  left: 50%;
}

.nav__hamburger-icon {
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color 0.4s;
  background-color: transparent;
  border: none;
}

.nav__hamburger-icon:hover {
  color: var(--white-color);
}

/* Style for the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Hide off-screen initially */
  width: 300px;
  height: 100%;
  background-color: var(--black-color);
  transition: right 0.3s ease; /* Smooth transition */
  z-index: 99999 !important;
}

.show-sidebar {
  right: 0; /* Show when active */
}

.sidebar__close {
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.sidebar__list {
  padding: 2rem 1rem;
}

.sidebar__link {
  color: var(--text-color);
  display: block;
  margin: 1rem 0;
}

.active-link {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  border-bottom: 2px solid var(--first-color);
}
.active-link-home {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
